-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: gec_placement_portal
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_admins`
--

DROP TABLE IF EXISTS `tbl_admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_admins` (
  `admin_id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `phone_number` varchar(15) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('superadmin','subadmin') NOT NULL,
  `branch` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_admins`
--

LOCK TABLES `tbl_admins` WRITE;
/*!40000 ALTER TABLE `tbl_admins` DISABLE KEYS */;
INSERT INTO `tbl_admins` VALUES (3,'Super Admin','superadmin@gmail.com','9999999999','$2y$10$QLlhSEL6Wz.T2EcnLWGrmuuSiMUSl0a6YBQlI59LnpAPNVGiYee92','superadmin',NULL,'2026-08-01 04:30:05'),(4,'admin of ce','ceadmin@gmail.com','1234567890','$2y$10$pHXL0zhtyEBdOdnAkWwP0u7mSwYu6t/DIIc/W4N4XXSc7OZuzCbBm','subadmin','Computer Engineering','2026-08-01 12:07:15'),(5,'itadmin','itadmin@gmail.com','1111111111','$2y$10$ALM8ff01ILzzD.HJUfYESu.3.jIlqZjHQTiEqzhh.U/2TTsKjruhe','subadmin','Information Technology','2026-08-01 12:50:40');
/*!40000 ALTER TABLE `tbl_admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_applications`
--

DROP TABLE IF EXISTS `tbl_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_applications` (
  `application_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `status` enum('Applied','In Progress','Selected','Rejected') DEFAULT 'Applied',
  `round_details` varchar(255) DEFAULT 'Application Submitted.',
  `applied_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`application_id`),
  UNIQUE KEY `unique_application` (`student_id`,`company_id`),
  KEY `company_id` (`company_id`),
  CONSTRAINT `tbl_applications_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `tbl_students` (`student_id`) ON DELETE CASCADE,
  CONSTRAINT `tbl_applications_ibfk_2` FOREIGN KEY (`company_id`) REFERENCES `tbl_companies` (`company_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_applications`
--

LOCK TABLES `tbl_applications` WRITE;
/*!40000 ALTER TABLE `tbl_applications` DISABLE KEYS */;
INSERT INTO `tbl_applications` VALUES (6,4,3,'Selected','Selected','2026-08-01 12:50:02');
/*!40000 ALTER TABLE `tbl_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_companies`
--

DROP TABLE IF EXISTS `tbl_companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_companies` (
  `company_id` int(11) NOT NULL AUTO_INCREMENT,
  `company_name` varchar(150) NOT NULL,
  `batch_year` int(11) NOT NULL DEFAULT 2024,
  `logo_path` varchar(255) DEFAULT NULL,
  `document_path` varchar(255) DEFAULT NULL,
  `last_date_to_apply` date NOT NULL,
  `added_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`company_id`),
  KEY `added_by` (`added_by`),
  CONSTRAINT `tbl_companies_ibfk_1` FOREIGN KEY (`added_by`) REFERENCES `tbl_admins` (`admin_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_companies`
--

LOCK TABLES `tbl_companies` WRITE;
/*!40000 ALTER TABLE `tbl_companies` DISABLE KEYS */;
INSERT INTO `tbl_companies` VALUES (3,'Simform',2026,'uploads/companies/logo_6a6de24e0a8ff.webp','uploads/companies/doc_6a6de24e0b2ad.pdf','2026-08-10',4,'2026-08-01 12:10:54');
/*!40000 ALTER TABLE `tbl_companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_company_branches`
--

DROP TABLE IF EXISTS `tbl_company_branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_company_branches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `branch_name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_company_branch` (`company_id`,`branch_name`),
  CONSTRAINT `tbl_company_branches_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `tbl_companies` (`company_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_company_branches`
--

LOCK TABLES `tbl_company_branches` WRITE;
/*!40000 ALTER TABLE `tbl_company_branches` DISABLE KEYS */;
INSERT INTO `tbl_company_branches` VALUES (4,3,'Computer Engineering'),(5,3,'Information Technology');
/*!40000 ALTER TABLE `tbl_company_branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_password_resets`
--

DROP TABLE IF EXISTS `tbl_password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_password_resets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `token` varchar(255) NOT NULL,
  `role` enum('student','admin') NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_password_resets`
--

LOCK TABLES `tbl_password_resets` WRITE;
/*!40000 ALTER TABLE `tbl_password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_student_profile`
--

DROP TABLE IF EXISTS `tbl_student_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_student_profile` (
  `profile_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `surname` varchar(100) DEFAULT NULL,
  `father_name` varchar(100) DEFAULT NULL,
  `mother_name` varchar(100) DEFAULT NULL,
  `gender` enum('Male','Female','Other') DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `physically_handicap` tinyint(1) DEFAULT 0,
  `category` enum('General','OBC','SC','ST') DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL,
  `course` varchar(50) DEFAULT NULL,
  `passing_year` int(11) DEFAULT NULL,
  `profile_pic` varchar(255) DEFAULT NULL,
  `sem5_cgpa` decimal(4,2) DEFAULT NULL,
  `sem5_cpi` decimal(4,2) DEFAULT NULL,
  `sem6_cgpa` decimal(4,2) DEFAULT NULL,
  `sem6_cpi` decimal(4,2) DEFAULT NULL,
  `cpi_percentage` decimal(5,2) DEFAULT NULL,
  `finishing_school` tinyint(1) DEFAULT 0,
  `skill_training` tinyint(1) DEFAULT 0,
  `training_details` text DEFAULT NULL,
  `hsc_percentage` decimal(5,2) DEFAULT NULL,
  `ssc_percentage` decimal(5,2) DEFAULT NULL,
  `active_backlogs` int(11) DEFAULT 0,
  `phone_number` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `resume_path` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`profile_id`),
  UNIQUE KEY `student_id` (`student_id`),
  KEY `idx_student_id_profile` (`student_id`),
  CONSTRAINT `fk_profile_student` FOREIGN KEY (`student_id`) REFERENCES `tbl_students` (`student_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_student_profile`
--

LOCK TABLES `tbl_student_profile` WRITE;
/*!40000 ALTER TABLE `tbl_student_profile` DISABLE KEYS */;
INSERT INTO `tbl_student_profile` VALUES (4,4,'abc','abc','abc','abc','abc','Male','2006-12-02',0,'OBC','Ahmedabad','B.E. Information Technology',2027,'uploads/profile_pics/IT/250163107022.jpg',9.00,9.00,9.00,9.00,85.00,0,0,'',90.00,90.00,0,'1111111111','abc@gmail.com','uploads/resumes/IT/250163107022.pdf','2026-08-01 12:49:54');
/*!40000 ALTER TABLE `tbl_student_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_student_skills`
--

DROP TABLE IF EXISTS `tbl_student_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_student_skills` (
  `skill_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `skill_name` varchar(100) NOT NULL,
  PRIMARY KEY (`skill_id`),
  KEY `idx_student_id_skills` (`student_id`),
  CONSTRAINT `fk_skill_student` FOREIGN KEY (`student_id`) REFERENCES `tbl_students` (`student_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_student_skills`
--

LOCK TABLES `tbl_student_skills` WRITE;
/*!40000 ALTER TABLE `tbl_student_skills` DISABLE KEYS */;
INSERT INTO `tbl_student_skills` VALUES (56,4,'java'),(57,4,'python'),(58,4,'dsa'),(59,4,'webdev');
/*!40000 ALTER TABLE `tbl_student_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_students`
--

DROP TABLE IF EXISTS `tbl_students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_students` (
  `student_id` int(11) NOT NULL AUTO_INCREMENT,
  `enrollment_no` varchar(20) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `branch` varchar(50) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `is_blocked` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`student_id`),
  UNIQUE KEY `enrollment_no` (`enrollment_no`),
  KEY `idx_enrollment_no` (`enrollment_no`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_students`
--

LOCK TABLES `tbl_students` WRITE;
/*!40000 ALTER TABLE `tbl_students` DISABLE KEYS */;
INSERT INTO `tbl_students` VALUES (4,'250163107022','It student','Information Technology','abc@gmail.com','1111111111','$2y$10$J.C0kNYoi9PB0r7IxLlcu.FUWAUyd2VM2DI2caWZTMi/90KWEjYre',0,'2026-08-01 12:47:47','2026-08-01 12:47:47'),(5,'250163107021','Prajapati Aman Jayeshbhai','Computer Engineering','amanjp5711@gmail.com','9725862765','$2y$10$eP1KO6hZ6t34tfs2Hbg82.wWcH2VWgwpOhk6tw/DzOK.OtHxqjXKG',0,'2026-08-01 13:03:04','2026-08-01 13:03:04');
/*!40000 ALTER TABLE `tbl_students` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;


